<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Add_book_admin.css">
    <title>Add book admin</title>
</head>
<body>
    <div id="main">
        <form id="form-add-book">
            <div class="form-group">
                <label for="input-bookname">Name book</label>
                <input type="text" class="form-control" id="input-bookname" name="bookname" placeholder="Donald Trump">
            </div>

            <div class="form-group">
                <label for="input-author">Author</label>
                <input type="text" class="form-control" id="input-author" name="author" placeholder="Joe Biden">
            </div>

            <div class="form-group">
                <label for="input-country">Country</label>
                <input type="text" class="form-control" id="input-country" name="country" placeholder="American">
            </div>

            <div class="form-group">
                <label for="input-publishingyear">Publishing year</label>
                <input type="number" class="form-control" id="input-publishingyear" name="publishingyear"
                    placeholder="4343278">
            </div>
            <div class="form-group">
                <label for="input-hasleft">Has left</label>
                <input type="number" class="form-control" id="input-hasleft" name="hasleft" placeholder="18">
            </div>
            <div class="form-group">
                <label for="input-price">Price</label>
                <input type="number" step="0.01" class="form-control" id="input-price" name="price" placeholder="500000VND">
            </div>
            <div class="form-group">
                <label for="input-language">Language</label>
                <input type="text" class="form-control" id="input-language" name="language" placeholder="english">
            </div>
            <div class="form-group">
                <label for="input-routine">Pages</label>
                <input type="number" class="form-control" id="input-Pages" name="Pages" placeholder="300 pages">
            </div>

            <div class="form-group">
                <label for="input-routine">Routine</label>
                <input type="number" class="form-control" id="input-routine" name="routine" placeholder="3 days" min="1">
            </div>
            <div class="form-group">
                <label for="input-imagepath">Image path</label>
                <input type="file" class="form-control" id="input-imagepath_" name="imagepath" accept="image/*">
            </div>
            <div class="form-group">
                <label for="input-genre">Genre</label>
                <select class="select-genre" name="genre" id="input-genre">
                    <option>History</option>
                    <option>Physique</option>
                    <option>Social</option>
                    <option>Chemistry</option>
                </select>
            </div>

            <div class="add">
                <button class="button-add"><i class="fa fa-plus-circle"></i> Add book</button>
            </div>

        </form>
    </div>
    <script>
        const form = document.getElementById('form-add-book')
        const imageInput = document.getElementById('input-imagepath_')
        const file = imageInput.files[0];


        form.addEventListener('submit', (event) => {
            event.preventDefault()
            const tittle = document.getElementById('input-bookname').value.trim()
            const author = document.getElementById('input-author').value
            const publishingyear = document.getElementById('input-publishingyear').value
            const hasleft = document.getElementById('input-hasleft').value
            const price = document.getElementById('input-price').value
            const language = document.getElementById('input-language').value
            const routine = document.getElementById('input-routine').value
            const genre = document.getElementById('input-genre').value
            const pages = document.getElementById('input-Pages').value
            const country = document.getElementById('input-country').value
            const imageInput = document.getElementById('input-imagepath_')
            const file = imageInput.files[0];
            const formData = new FormData();
            formData.append('image', file)
            formData.append('tittle', tittle)
            formData.append('author', author)
            formData.append('publishingyear', publishingyear)
            formData.append('hasleft', hasleft)
            formData.append('price', price)
            formData.append('language', language)
            formData.append('routine', routine)
            formData.append('genre', genre)
            formData.append('pages', pages)
            formData.append('country', country)
            const options = {
                method: 'POST',
                body: formData
            }
            fetch('/Add_book_librarian/insert_book', options)
                .then(response => response.text())
                .then(data => {
                    alert(data); // Hiển thị thông báo từ máy chủ
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })

    </script>
</body>
</html>