<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/ChangePasswordUser.css">

  <title>Change password user</title>

</head>

<body>
  <div id="main" class="{{username}}">
    <form id="formChangePassword">
      <div class="form-group">
        <label for="input-oldpassword">Old Password</label>
        <input type="password" class="form-control" id="input-oldpassword" name="oldpassword">
      </div>

      <div class="form-group">
        <label for="input-newpassword">New password</label>
        <input type="password" class="form-control" id="input-newpassword" name="newpassword">
      </div>

      <div class="form-group">
        <label for="input-confirmpassword">Confirm password</label>
        <input type="password" class="form-control" id="input-confirmpassword" name="confirmpassword">
      </div>
      <div class="change">
        <button class="button-change"><i class="fa fa-save"></i> Change password </button>
      </div>
    </form>
  </div>
  <script>
    const form = document.getElementById('formChangePassword')

    form.addEventListener('submit', async (event) => {
      event.preventDefault()
      const formData = new FormData(form)
      const data = Object.fromEntries(formData)

      const username = document.getElementById('main').className
      let indexCheck

      await checkPassword(username, data.oldpassword)
        .then(data => indexCheck = data)

      if (indexCheck) {
        if (data.confirmpassword !== data.newpassword) {
          alert('The confirmation password and the new password are different!')
          return
        }
        else {
          await ChangePasswordUser(data.newpassword)
        }
      }
      else
        alert('Wrong old password')
    })

    function ChangePasswordUser(password) {
      const dataObj = {
        password: password
      }
      const options = {
        method: 'POST',
        headers: {
          'content-Type': 'application/json'
        },
        body: JSON.stringify(dataObj)
      }
      const URL = '/ChangePasswordUser/changpassword'
      return fetch(URL, options)
        .then(response => response.json())
        .then(data => {
          if (data.err) {
            alert('Error change password')
          }
          else {
            alert('success change password')
            window.location.href = '/';
          }
        })
    }


    function checkPassword(username, password) {
      const dataObj = {
        username: username,
        password: password
      }
      const options = {
        method: 'POST',
        headers: {
          'content-Type': 'application/json'
        },
        body: JSON.stringify(dataObj)
      }
      const URL = '/Payment/checkpassword'
      return fetch(URL, options)
        .then(response => response.json())
        .then(data => {
          if (data.err) {
            return 0
          }
          else {
            return 1
          }
        })
    }
  </script>
</body>

</html>